XML/Voiliers/voiliers.dtd

<!ELEMENT voiliers (mixte, voilier+)>
    <!ATTLIST voiliers
        transat CDATA #REQUIRED
    >
<!ELEMENT voilier (nom, photo, skipper, skipper)>
    <!ATTLIST voilier
        classe CDATA #REQUIRED
        annee CDATA #REQUIRED
    >
<!ELEMENT nom (#PCDATA)>
<!ELEMENT photo (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT skipper (origine, nom)>
    <!ATTLIST skipper
        age CDATA #REQUIRED
    >
<!ELEMENT origine (#PCDATA)>
<!ELEMENT geo (#PCDATA)>
<!ELEMENT cat (#PCDATA)>
<!ELEMENT mixte (#PCDATA | geo | cat)*>